<hello name="{{ name }}"></hello>
<p>
  URL = {{ url }}
</p>
<BR>

<button (click)="setLectureRest()">
  Appeler REST
</button>
&nbsp;
<label id=zone1></label>
<BR><BR>
<button (click)="clear()">
  Effacer
</button>
<button (click)="getTest()">
  Test
</button>

<button (click)="getReponse()">
  Test getReponse
</button>

<BR><BR>
<button (click)="post()">
  Test POST
</button>

<BR><BR>
<button (click)="getTestDirect()">
  Test Direct
</button>

<BR><BR>
<button (click)="getTestDirect2()">
  Test Direct 2
</button>
